<% layout('./layouts/boilerplate') %>
<h1 style="text-align: center">Welcome to the All Resources page</h1>
<% for (let r of resources) {%>
    <div class="resource-row">
        <h2>
            <a href="/resources/<%= r._id %>"><%= r.title %></a>   
        </h2>
        <div>
            <table cellspacing="10">
                <tr>
                    <td>
                        <img src="/images/<%= r.category%>.png" alt="image" style="height: 18em">
                    </td>
                    <td>
                        <p>
                            <%= r.description %>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <% } %>