<% layout('./layouts/boilerplate') %>
<h1 style="text-align: center; margin-bottom: 50px">Welcome To All Subjects Page</h1>

<div class="col-6 offset-3" style="margin-bottom: 100px;">
    <ul class="list-group">
      <% for (s of subjects) {%>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a class='labels' id="<%= s %>"href="/subjects/<%= s %>">
            <%= s %>
          </a><span class="data"> <%= counts.get(s) %></span>
        </li>
    </ul>
    <% } %>
  </div>


  <div class="col-6  offset-3">
    <canvas id="myChart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const ctx = document.getElementById('myChart');
    const a = document.querySelectorAll('.labels')
    const s = document.querySelectorAll('.data')
    <!-- console.log('hello', a, s) -->
    const labels = []
    const span = []
    for (let i = 0; i <= a.length-1; i++){
      console.log(a[i].innerText)
          labels.push(a[i].innerText)
    }
    for (let i = 0; i <= s.length-1; i++){
      span.push(s[i].innerText)
    }
    console.log(labels)

    new Chart(ctx, {
      type: 'bar',
      backgroundColor: 'red',
      data: {
        labels: [...labels],
        datasets: [{
          label: 'Number of Resources under each Subject',
          backgroundColor: 'rgb(52, 112, 209)',
          data: [...span],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>